* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  background: #f4f6f9;
  color: #1f2937;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background: #0f766e;
  color: white;
  min-height: 100vh;
  padding: 30px 20px;
}
a{
    text-decoration: none;
    color:white;
}

.sidebar h2 {
  margin-bottom: 40px;
}

.sidebar a {
  display: block;
  margin: 15px 0;
  cursor: pointer;
  opacity: 0.9;
}

.sidebar a.active {
  font-weight: 700;
  opacity: 1;
}

/* Main */
.main {
  flex: 1;
  padding: 30px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.card h3 {
  margin-top: 10px;
}

.card.highlight {
  background: #ecfdf5;
  color: #065f46;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

/* Panels */
.panel {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

/* Bar Charts */
.bar-chart {
  display: flex;
  align-items: flex-end;
  height: 180px;
  gap: 10px;
  margin-top: 20px;
}

.bar-chart div {
  width: 100%;
  background: #10b981;
  border-radius: 6px;
}

.bar-chart.dual div {
  width: 20px;
}

.bar-chart .fuel {
  background: #9ca3af;
}

.bar-chart .profit {
  background: #10b981;
}

/* Map */
.map-box {
  height: 200px;
  background: #e5e7eb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #374151;
}

/* Leaderboard */
.leaderboard li {
  margin: 10px 0;
  list-style: none;
}

/* QR */
.qr-box {
  text-align: center;
}

.qr-box button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #0f766e;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* Redeem */
.redeem input,
.redeem select,
.redeem button {
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.redeem button {
  background: #10b981;
  color: white;
  border: none;
  cursor: pointer;
}
