*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background: white;
background:linear-gradient(135deg,#0f3d2e,#2e8b57);
}

.login-container{
width:900px;
height:540px;
background:white;
border-radius:20px;
display:flex;
overflow:hidden;
box-shadow:0 20px 50px rgba(0,0,0,0.3);
}


.info-panel{
width:45%;
background:#0f3d2e;
color:white;
padding:45px;
display:flex;
flex-direction:column;
justify-content:center;
}

.info-panel h1{
font-size:36px;
margin-bottom:15px;
}

.info-panel p{
font-size:15px;
margin-bottom:25px;
opacity:0.9;
}

.info-panel ul{
list-style:none;
}

.info-panel li{
margin-bottom:12px;
font-size:14px;
}


.form-panel{
width:55%;
padding:50px;
display:flex;
flex-direction:column;
justify-content:center;
}

.form-panel h2{
color:#0f3d2e;
}

.subtitle{
font-size:14px;
color:#666;
margin-bottom:30px;
}


form{
display:flex;
flex-direction:column;
}

label{
font-size:14px;
margin-bottom:6px;
color:#333;
}


.role-box{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.role-box label{
font-size:14px;
display:flex;
align-items:center;
gap:6px;
}


input{
padding:12px;
margin-bottom:20px;
border-radius:8px;
border:1px solid #ccc;
}

input:focus{
border-color:#2e8b57;
outline:none;
}

button{
padding:14px;
margin-bottom:10px;
border:none;
border-radius:10px;
background:#2e8b57;
color:white;
font-size:15px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#246f47;
}

.secondary{
background:#e6f2ec;
color:#0f3d2e;
}

.secondary:hover{
background:#d4ebe0;
}


.footer-text{
margin-top:10px;
font-size:13px;
text-align:center;
}

.footer-text span{
color:#2e8b57;
font-weight:600;
cursor:pointer;
}


.horizontal{
height:14px;
width:100%;
}

.vertical{
width:14px;
height:100%;
}

.r1{ top:40px; }
.r2{ top:150px; }
.r3{ left:90px; }
.r4{ left:220px; }



.point{
position:absolute;
width:34px;
height:34px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:12px;
font-weight:bold;
color:white;
box-shadow:0 4px 8px rgba(0,0,0,0.2);
}
.society{
background:#1e90ff;
}

.p1{ top:30px; left:80px; }
.p2{ top:120px; left:200px; }
.p3{ top:170px; left:120px; }
