* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    display: flex;
    background: #f4f7f6;
    color: #333;
}

a{
    text-decoration: none;
    color:white;
}
.sidebar {
    width: 240px;
    background: #0f3d2e;
    color: white;
    min-height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar nav a {
    display: block;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar nav a:hover,
.sidebar nav .active {
    background: #1b6b50;
}


.main {
    flex: 1;
    padding: 25px;
}


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 40px;
    border-radius: 50%;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.card p {
    font-size: 28px;
    margin-top: 10px;
}

.green { background: #2e8b57; }
.blue { background: #166bdb; }
.yellow { background: #eccf13; }
.red { background: #da4412; }


.upload {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.upload-box {
    border: 2px dashed #2e8b57;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
    margin-top: 15px;
    color: #2e8b57;
}


.leaderboard {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
}

tr:nth-child(even) {
    background: #f1f1f1;
}

.highlight {
    background: #d4f4e4 !important;
}


.analytics {
    background: white;
    padding: 20px;
    border-radius: 15px;
}

.analytics-cards {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.mini-card {
    background: #f4f7f6;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
}
